html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html 
  {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 60px;
}

.custom-button 
{
    background-color: #B19CD9;
    color: #fff;
    border: 2px solid #B19CD9;
    border-radius: 30px;
    padding: 10px 15px;
}

.custom-button:hover 
{
    background-color: #9358AB;
    border-color: #9358AB;
}

.custom-card 
{
    background-color: #F4EDFF; 
    border: 2px solid #D4C6E7;
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease; 
}

.custom-card:hover 
{
    background-color: #E5D8FF; 
}

.card-title 
{
    margin-bottom: 20px; 
    color: #6F42C1;
    font-size: 24px; 
    border-bottom: 2px solid #D4C6E7; 
    padding-bottom: 10px;
}

.additional-info 
{
    font-size: 16px;
    color: #6E6893;
    margin-bottom: 5px;
}

.additional-info a 
{
    color: #6F42C1; 
    text-decoration: none;
}

.additional-info a:hover 
{
    color: #6F42C1; 
    text-decoration: underline; 
}

.badge-dark-purple 
{
    background-color: #6F42C1;
    color: #ffffff;
}

.book-details-container 
{
    margin-top: 20px; 
    margin-left: 30px;
}

#book-description 
{
    margin-top: 30px; 
}

#read-more {
    color: #6F42C1;
    cursor: pointer;
}

#read-more:hover 
{
    text-decoration: underline; 
}
