html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 60px;
}

.custom-button 
{
    background-color: #B19CD9;
    color: #fff;
    border: 2px solid #B19CD9;
    border-radius: 30px;
    padding: 10px 15px;
}

.custom-button:hover 
{
    background-color: #9358AB;
    border-color: #9358AB;
}

.custom-card 
{
    background-color: #F4EDFF; /* Світлий колір для карток */
    border: 2px solid #D4C6E7;
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Додано анімацію для плавного переходу кольору */
}

.custom-card:hover 
{
    background-color: #E5D8FF; /* Темніший колір для наведення */
}

.card-title 
{
    margin-bottom: 20px; /* Додано відстань між title та description */
    color: #6F42C1;
    font-size: 24px; /* Додано зміну розміру шрифта для заголовка */
    border-bottom: 2px solid #D4C6E7; /* Додано пряму розділяючу лінію після заголовка */
    padding-bottom: 10px; /* Додано відступ для розділяючої лінії */
}

.additional-info 
{
    font-size: 16px;
    color: #6E6893;
    margin-bottom: 5px;
}

.additional-info a 
{
    color: #6F42C1; /* Колір посилання, такий самий, як у card-title */
    text-decoration: none; /* Відсутність підкреслення для посилання */
}

.additional-info a:hover 
{
    color: #6F42C1; /* Колір посилання при наведенні, такий самий, як у card-title */
    text-decoration: underline; /* Підкреслення при наведенні на посилання */
}

.badge-dark-purple {
    background-color: #6F42C1;
    color: #ffffff;
}