html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html 
  {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    transition: background-color 0.5s ease;
}

.pastel-background {
    background-color: #e6d8f5;
}

.custom-button 
{
    background-color: #B19CD9;
    color: #fff;
    border: 2px solid #B19CD9;
    border-radius: 30px;
    padding: 10px 15px;
}

.custom-button:hover 
{
    background-color: #9358AB;
    border-color: #9358AB;
}

.custom-card 
{
    background-color: #F4EDFF; 
    border: 2px solid #D4C6E7;
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease; 
}

.custom-card:hover 
{
    background-color: #E5D8FF; 
}

.card-title 
{
    margin-bottom: 20px; 
    color: #6F42C1;
    font-size: 24px; 
    border-bottom: 2px solid #D4C6E7; 
    padding-bottom: 10px;
}

.additional-info 
{
    font-size: 16px;
    color: #6E6893;
    margin-bottom: 5px;
}

.additional-info a 
{
    color: #6F42C1; 
    text-decoration: none;
}

.additional-info a:hover 
{
    color: #6F42C1; 
    text-decoration: underline; 
}

.badge-dark-purple 
{
    background-color: #6F42C1;
    color: #ffffff;
}

.book-details-container 
{
    margin-top: 20px; 
    margin-left: 30px;
}

#book-description 
{
    margin-top: 30px; 
}

#read-more {
    color: #6F42C1;
    cursor: pointer;
}

#read-more:hover 
{
    text-decoration: underline; 
}

#reviewsCarousel {
    background-color: white; /* Білий задній фон */
    border-radius: 15px; /* Закруглені краї контейнера */
    padding: 20px; /* Відступи від країв блоку */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #B19CD9; /* Колір стрілок Next і Previous */
    border-radius: 50%; /* Закруглення стрілок */
}

.carousel-item {
    background-color: white; /* Білий задній фон окремого відгуку */
    color: #6E6893; /* Колір тексту відгуку */
    border-radius: 15px; /* Закруглені краї окремого відгуку */
    padding: 20px; /* Відступи від країв окремого відгуку */
}

.review-item strong {
    color: #B19CD9; /* Колір імені користувача (жирний текст) */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #B19CD9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0px;
    opacity: 1;
}

.carousel-control-prev {
    left: -15px;
}

.carousel-control-next {
    right: -15px;
}

.carousel-inner {
    z-index: 1;
}

.custom-header {
    background-color: #B19CD9; 
    color: #fff; 
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #6F42C1; 
}

h1 {
    font-weight: bold;
    color: #6F42C1; 
}

.custom-card-category {
    background-color: #F4EDFF;
    border: 2px solid #D4C6E7;
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

    .custom-card-category:hover {
        background-color: #E5D8FF;
    }

    .custom-card-category .card-img-container {
        position: relative;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }

    .custom-card-category .card-img-top {
        width: 100%;
        height: 350px; 
        object-fit: cover;
    }

    .custom-card-category .card-body {
        text-align: center;
        padding: 10px; 
    }

    .custom-card-category .card-title {
        margin: 0;
        color: #6F42C1;
        font-size: 20px;
        border-bottom: none;
        padding-bottom: 5px; 
        text-decoration: none;
        display: block;
    }

    .custom-card-category:hover {
        background-color: #E5D8FF;
    }
