<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Import", "Books",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="mb-3">
                <label for="booksFile" class="form-label">Оберіть файл для заватаження</label>
                <input type="file" name="booksFile"
                       id="mbooksFile" />
            </div>
            <div>
                <input class="btn btn-primary mb-3"
                       type="submit" value="Завантажити" />
            </div>
        }
    </div>
</div> 