@model OnlineLibraryWebApplication.Models.Author

@{
    ViewData["Title"] = "Видалити автора";
}

<h1>Видалити автора</h1>

<h3>Ви впевнені, що бажаєте видалити цього автора?</h3>
<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author1)
        </dd>
    </dl>
    
    <form asp-action="Delete" onsubmit="return confirm('Чи точно ви бажаєте видалити цього автора?')">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-controller="Authors" asp-action="Index">Повернутися до списку</a>
    </form>
</div>
